[2020-06-18 19:19] gpn005 opened #2 "arubanetwork.aoscx was not found and no 'owner'"
While trying to install the arubanetwokrs.aoscx collection, I received 2 below errors. The first saying the content had no owner, the second saying arubanetworks.aoscx was not found on galaxy.

gpn005@NovakG5590:~$ ansible-galaxy collection install arubanetworks.aoscx
- downloading role 'collection', owned by
 [WARNING]: - collection was NOT installed successfully: Content has no field named 'owne

[2020-06-18 19:43] tchiapuziowong commented on #2
Hi @gpn005 !

Can you please post the output of the command `ansible --version` ?

[2020-06-18 19:45] gpn005 commented on #2
gpn005@NovakG5590:~$ ansible --version
ansible 2.8.2
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/gpn005/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python2.7/dist-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 2.7.17 (default, Apr 15 2020, 17:20:14) [G

[2020-06-18 19:48] tchiapuziowong commented on #2
Collections were introduced into Ansible version 2.9.0 so you'll have to update Ansible in order for the  command to install collections to work 👍

[2020-06-18 19:55] gpn005 commented on #2
Ok, I thought I had already run an update for everything. I will try again after updating. Thanks for the quick reply.

Thanks,

-Geoff

Geoff Novak
Sr. Network Engineer
Sirius Computer Solutions
c | (610) 742-7109  o | (215) 695-5112
Geoffrey.Novak@siriuscom.com<mailto:Geoffrey.Novak@siriuscom.com>
[ccnp_routingswitching_sm]

From: tchiapuziowong <notifications@github.com>
Sent: Thursday, June 18

[2020-06-18 19:57] tchiapuziowong commented on #2
No prob! I'll close the issue for now and if anything comes up just let us know!

[2020-06-18 19:57] #2 closed

[2020-09-24 10:23] targuan opened #3 "Collection not working with ansible 2.10"
Hello,

Some major changes have been introduced to Ansible's API in version 2.10. The aoscx-ansible-collection does not seems to be compatible with this new version.

For instance, the import ```from ansible.module_utils.network.common.utils import to_list``` fails as it as been moved to ```from ansible_collections.ansible.netcommon.plugins.module_utils.network.common.utils import  to_list```

[2020-10-19 15:37] autotraversa opened #4 "aoscx-ansible-collection not work"
Tried collection on AWX version 15, Ansible Engine 2.10 with SSH and REST API, it doesn't work either one.

[2020-10-19 19:03] tchiapuziowong commented on #4
Hello! We've just published a new version of the collection that should fix this - please install the latest version of the collection and let us know if you're still experiencing issues:
`ansible-galaxy collection install arubanetworks.aoscx -f`

[2020-10-19 19:03] tchiapuziowong commented on #3
Hello! We've just published a new version of the collection that should fix this - please install the latest version of the collection and let us know if you're still experiencing issues:
`ansible-galaxy collection install arubanetworks.aoscx -f`

[2020-10-21 19:39] autotraversa commented on #4
Still not work on AWX, error info as below:
The full traceback is:
Traceback (most recent call last):
  File "/var/lib/awx/.ansible/tmp/ansible-local-17366q573e_pu/ansible-tmp-1603309063.3658378-17373-218564064826250/AnsiballZ_aoscx_vlan.py", line 102, in <module>
    _ansiballz_main()
  File "/var/lib/awx/.ansible/tmp/ansible-local-17366q573e_pu/ansible-tmp-1603309063.3658378-17373-21856406482625

[2020-10-21 20:15] autotraversa commented on #4
The collection works with REST API,  not works with SSH

[2020-10-22 15:26] autotraversa opened #5 "So few module"

[2020-10-22 15:28] tchiapuziowong commented on #4
Hi @autotraversa  can you confirm if the SSH is not working in any platform or only AWX?

[2020-10-23 21:57] tchiapuziowong commented on #4
Also make sure the collection ansible.netcommon is installed within AWX container

[2020-10-25 01:18] autotraversa commented on #4
Yes, it says it is already installed.

It says """

{
    "module_stdout": "",
    "module_stderr": "Traceback (most recent call last):\n  File \"/var/lib/awx/.ansible/tmp/ansible-local-37416t69wpuun/ansible-tmp-1603588555.9925408-37533-205648963158349/AnsiballZ_aoscx_vlan.py\", line 102, in <module>\n    _ansiballz_main()\n  File \"/var/lib/awx/.ansible/tmp/ansible-local-37416t69wpuun/ansible-tmp

[2020-10-25 14:14] autotraversa commented on #4
Ok, so i didnt read the fine print.

I changed the transport type to REST and it works.

Thank you for your help.

Praveen
________________________________
From: Praveen Selvarajan <pselvarajan@traversa.net>
Sent: Saturday, October 24, 2020 8:18 PM
To: aruba/aoscx-ansible-collection <aoscx-ansible-collection@noreply.github.com>; aruba/aoscx-ansible-collection <reply@reply.github.com>
Cc: Mention <

[2020-11-07 00:14] narongsak-hewitt commented on #3
I'm glad I saw this! I have been rocking my Ansible journey with CX!!!  I was having some trouble with the modules appearing to work (They don't fail) but there are no changes to my switch.  Going to take the advise here and update my collection.  Thanks!

[2020-11-07 00:16] #3 closed

[2020-11-07 00:16] #4 closed

[2020-11-07 00:31] narongsak-hewitt commented on #5
My Ansible journey is moving forward for sure and exciting.  I'm stoked to nerdherd over this in my home lab! I'm currently trying to wrap my head around the aoscx_vlan_interface.md.
active_gateway_ip and active_gateway_mac_v4 got me pretty motivated to automate over a VSX cluster but there doesn't appear to be an option for VSX-Sync.  At least not yet anyway.  I'm excited and motivated to see wha

[2021-02-19 16:38] grossmro opened #7 "How to install / get working in AWX?"
Hi,

the examples does not work for me.

I'm note very firm with linux, container, api etc. I'm much more a windows and cisco/aruba cli user...

system is a centos 8.3 with ansible and awx in an docker container, using this guide:
https://computingforgeeks.com/install-and-configure-ansible-awx-on-centos/

I installed this module with:
ansible-galaxy collection install arubanetworks.aoscx

I added

[2021-02-19 16:42] tchiapuziowong commented on #7
Hi Robert, is your indentation in the proper format? it seems to be not indented, you want to make sure it's two spaces indented like so:
[code]

[2021-02-19 17:30] grossmro commented on #7
Hi,

and thanks for your fast response,

okay I just copied it from the readme...

Now its adjusted, looks like this:

[code]

I tried some variants of spacing, but same error...

Error changed to:

[code]

My guess is, that the modules are not integrated in ansible/awx/docker, whatever...

[2021-02-19 17:46] tchiapuziowong commented on #7
You can enter the awx_task container and execute the `ansible-galaxy` command from within the container or else you should also be able to define a requirements.yml file inside a `collections` folder in your project directory and AWX should install automatically. I do know some people have had issues with this happening automatically so I typically just enter the container and install the collecti

[2021-02-19 18:18] grossmro commented on #7
OK. That seems to help. I am a step further.
Now the authentication failed, even if manually ssh works without problems.

[code]

But Ansible shows error:

[code]

while writing... i see the error contains root@8325-demo-01
but the inventory file and host credentials are with username manager...

[code]

[2021-02-19 19:10] tchiapuziowong commented on #7
Your playbook is using a REST API module `aoscx_l3_interface` , so your `ansible_connection` variable should be set to `httpapi`, if you'd like to use one of our SSH modules (`aoscx_command` or `aoscx_config`) for more information see this section of our README [Using Both REST API and SSH CLI modules on a Host](https://github.com/aruba/aoscx-ansible-collection#using-both-rest-api-and-sshcli-modul

[2021-04-12 21:07] #7 closed

[2021-05-21 19:19] bidetzz opened #8 "aoscx_upload_config, upload from local"
Hi,

I have a problem when trying to upload a CLI configuration file onto an aoscx switch from local.

In the documentation it says:
ref: https://github.com/aruba/aoscx-ansible-collection/blob/master/docs/aoscx_upload_config.md
[code]
and the example below:
[code]
First of all, in the example, it says " remote_config_file_tftp_path:" instead of "config_file" when uploading from a local file. Is it

[2021-05-21 21:13] tchiapuziowong commented on #8
Hi @bidetzz - thank you for raising this issue! Yes that appeasrs to be a mistake in the example, for `aoscx_upload_config` CLI configurations are only available to be uploaded via a TFTP server therefore you need to provide the `remote_config_file_tftp_path` option instead:

[code]

If you'd rather not use a TFTP server, the best option for a CLI config would be to use one our SSH module to confi

[2021-05-25 13:53] bidetzz commented on #8
Hi @tchiapuziowong, Thank you for the quick reply.

When trying the aoscx_config with the SSH module, I get this error:
[code]

my playbook:

[code]

The main goal I am trying to reach is to be able to manage my switches as code. Meaning that I would have all my configs in Git, and when I would want to make a change (ex: change a VLAN or an interface), I could make a merge request, make the change

[2021-05-25 15:41] tchiapuziowong commented on #8
You'll need to change your inventory variable `ansible_network_os` to `arubanetworks.aoscx.aoscx` that should fix the issue, previously you were using the Ansible role. You should be able to achieve what you're trying to achieve using this module/workflow. Again, this module (aoscx_config) will use SSH to configure your switch using that file (/ansible/rendered_configs/client.conf) as a source for

[2021-05-25 15:49] bidetzz commented on #8
I already changed the variable and I have the same issue..

My inventory file:
[code]

And I specify the network_cli in the playbook directly

[2021-05-25 15:53] tchiapuziowong commented on #8
Is the user enabled for SSH login/authentication?
[code]

[2021-05-25 15:55] bidetzz commented on #8
Yes it is
[code]

[2021-05-25 16:14] tchiapuziowong commented on #8
Can you run `ansible-galaxy collection list` and verify you have the `ansible.netcommon` collection ?

[code]

[2021-05-25 16:28] bidetzz commented on #8
Should be all there

[code]

[2021-05-25 16:29] tchiapuziowong commented on #8
Are you able to ping the switch from the Ansible machine?

[2021-05-25 16:33] bidetzz commented on #8
yes, I'm able to run other playbook on it, This doesn't feel like a "connection" problem with the switch. If I put Gathering Facts to true, it will connect in the gathering Facts task, but I'm still having the same error on the aoscx_config task.

[2021-05-25 16:42] tchiapuziowong commented on #8
Are you using REST API in your other playbook?

[2021-05-25 16:45] bidetzz commented on #8
I'm also able to ssh to the switch from the ansible machine

[2021-05-25 16:48] bidetzz commented on #8
yes I can, I just tested it and it's working fine

[2021-05-25 16:50] tchiapuziowong commented on #8
Can you run in verbose mode and post the output? `-vvvv` ?

[2021-05-25 16:56] bidetzz commented on #8
[code]

[2021-05-25 17:02] tchiapuziowong commented on #8
Hmm okay - do you have [this entry](https://github.com/aruba/aoscx-ansible-collection#sshcli-modules) in your ansible.cfg file as well?
`host_key_checking = false`

[2021-05-25 17:04] bidetzz commented on #8
Yes I do, under [defaults]

[2021-05-25 18:08] tchiapuziowong commented on #8
Hmm okay we might need to debug this live - are you able to reach out to your account SE or open a TAC case?

[2021-05-25 18:21] bidetzz commented on #8
Yes it is installed `paramiko 2.7.2`

[2021-05-25 18:21] bidetzz commented on #8
I contacted my SE about this issue.

[2021-05-26 19:00] bidetzz commented on #8
Hi @tchiapuziowong

Is it the same thing with the **aoscx_backup_config** module ?

Meaning that I can only backup the config as JSON if i'm downloading to local and not with TFTP ?

Seems like when I run the playbook with `config_type: 'cli'`, it's saving in JSON format anyway.

My playbook:
[code]

And the result is saved as JSON.

Thank you,

[2021-05-27 17:48] tchiapuziowong commented on #8
Yes if not using TFTP - JSON is the output option only -
[code]

[2021-07-16 17:45] tomdeppe opened #9 "How to run show command over REST API"
I'm looking for a module that uses REST API connection to run a show command, such as show mac-address-table.
Similar to the aoscx_command, however using the REST API instead of SSH.  Is there a way to do this?
Thank you

[2021-09-17 20:50] ljb2of3 commented on #8
@tchiapuziowong curious if there's any movement on this. I'm getting stuck using aoscx_config with the same error:

Unable to decode JSON from response to exec_command('show running-config'). Received 'None'

[2021-09-29 14:26] tchiapuziowong commented on #9
Hi @tomdeppe - we currently do not have any "show"command support via REST-API, we have support for the GET method for all our resources. We do have support for gathering facts using the [aoscx_facts](https://github.com/aruba/aoscx-ansible-collection/blob/master/docs/aoscx_facts.md) as well as have [NAPALM](https://developer.arubanetworks.com/aruba-aoscx/docs/getting-started-with-napalm) support w

[2021-09-29 14:26] #9 closed

[2021-09-29 23:13] tchiapuziowong commented on #8
Hi @ljb2of3 ! We were able to detect various reasons for this output so it's been a bit difficult to troubleshoot - are you able to produce the output of `ansible --version` and `python3 -m pip list`  - also are you using Ansible AWX or a container at all? Also if you're able to contact your Aruba SE we could get it escalated internally.

[2021-09-29 23:24] ljb2of3 commented on #8
Thanks @tchiapuziowong would it it beneficial if I open a new issue here, or a case with TAC? I can certainly talk to my SE... He's been camped out at my office for several days working on other issues with me this week.

[2021-09-29 23:27] tchiapuziowong commented on #8
Go ahead and work with your SE to reach out to our PDL aruba-automation@hpe.com and we can figure it out over a call - We'll keep this issue open and I'll post the results of our resolution so others can benefit as well!

[2021-09-30 11:59] pixeldoc2000 opened #10 "ansible 2.10+ error: "unterminated character set at position 0" and "unable to decode json from response to exec_command""
Playbook Example:

[code]

inventory:
[code]

With ansible 2.10.7 or 2.11.5 i get the error with this playbook: `unterminated character set at position 0`

[code]

Error with other Playbook: `Unable to decode JSON from response to exec_command('show running-config'). Received 'None'.`

If i downgrade to ansible 2.9.26 everything runs fine:
[code]

Enviroment:
Debian 11 with python 3.9 in virtualen

[2021-09-30 16:48] tchiapuziowong commented on #10
Hi @pixeldoc2000 ! We've been trying to get to the bottom of this issue as well - are you able to downgrade your netcommon collection to version 1.4.1 and see if the issue persists?
`ansible-galaxy collection install ansible.netcommon:1.4.1 -f`

[2021-09-30 16:48] tchiapuziowong commented on #10
We've opened an issue with Ansible's netcommon collection here: https://github.com/ansible-collections/ansible.netcommon/issues/301

[2021-09-30 17:39] tchiapuziowong commented on #10
Also please make sure you've set
[code]

in your ansible.cfg file - to see which one you're using execute `ansible --version`

[2021-09-30 17:40] tchiapuziowong commented on #8
@ljb2of3  - just to make sure , have you verified you have
[code]

in your `ansible.cfg` file? you can find it's location through `ansible --version`

[2021-10-06 07:30] pixeldoc2000 commented on #10
`host_key_checking` is disabled.

[2021-10-06 17:16] tchiapuziowong commented on #10
@pixeldoc2000 the current workaround is to downgrade to `ansible.netcommon==1.5.0` - we've opened up [an issue](https://github.com/ansible-collections/ansible.netcommon/issues/301) with the Ansible collection and are pushing to get this resolved - thank you for your patience and understanding!

[2021-10-20 14:42] jon-larsen opened #11 "Firmware upload not working on 6300 CX switch"
I'm using Ansible to upload firmware. It works fine on a CX 6200F, but it fails on the 6300.
[code]

[code]

[2021-10-21 17:57] tchiapuziowong commented on #11
Hi @jon-larsen ! Can you provide the firmwares you're using? The one you're attempting to put onto the switch and the one already existing? Also could you provide the output of running the playbook in `-vvvv` ?

[2021-11-09 00:38] tchiapuziowong commented on #11
Our development team is looking into the "AttributeError: 'Device' object has no attribute 'device'" error and I'll update the issue as soon as we've pushed a resolution! Thank you for your patience!

[2021-11-09 14:55] br0v opened #13 "aoscx_vlan does not assign VLAN name when using only ID and name"
Hi,

My playbook uses the aoscx_vlan module to create vlans on a 6300M. The vlans should only have a name and an ID.

Please see my task below:

[code]
This task executes successfully, but creates a vlan with a default name instead of the name I supplied in my playbook.

To illustrate this, please see this section from the running config after executing the playbook:
[code]

I found that vlans whi

[2021-11-09 15:03] alagoutte commented on #13
what your inventory ?

do you have pyaoscx ?

[2021-11-09 15:07] br0v commented on #13
That was fast :)

Yep, I have pyaoscx version 2.1.0 installed

Followed your guide on the main page to set up the variables for the inventory.

[2021-11-09 15:11] alagoutte commented on #13
with python 2 or 3 ?

[2021-11-09 15:12] br0v commented on #13
Python 3

[2021-11-09 15:16] alagoutte commented on #13
ok, i have try i get the same issue if i don't set description name...
i need to retry without pyaoscx

[2021-11-09 19:25] tchiapuziowong commented on #13
We're looking into this issue - thank you for bringing it to our attention! I'll update once we've published a fix!

[2021-11-29 21:33] tchiapuziowong commented on #13
I've uploaded a fix for this issue in the latest version of the collection - please update your collection by using the below command:
`ansible-galaxy collection install arubanetworks.aoscx -f`

[2021-11-29 21:33] tchiapuziowong commented on #11
I've uploaded a fix for this issue in the latest version of the collection - please update your collection by using the below command:
`ansible-galaxy collection install arubanetworks.aoscx -f`

[2021-11-30 07:21] alagoutte commented on #13
Thanks, i will try !

it is not possible to tag the release ?

[2021-11-30 16:22] tchiapuziowong commented on #13
It's already versioned in galaxy - if you want to install the specific version you can do :
`ansible-galaxy collection install arubanetworks.aoscx:3.0.2 -f`

[2021-11-30 16:52] alagoutte commented on #13
i talk on GitHub ;)

[2021-11-30 16:53] tchiapuziowong commented on #13
we haven't been tagging releases on Github just using the galaxy.yml file for versioning - is that something you use in installation?

[2021-11-30 19:11] alagoutte commented on #13
Yes for dev, for get/test directly the same version

(And for the CI, can be nice with Github actions with the change log on release !)

[2021-11-30 19:21] tchiapuziowong commented on #13
just created a release!
https://github.com/aruba/aoscx-ansible-collection/releases/tag/v3.0.2

[2021-11-30 20:00] alagoutte commented on #13
Thanks !

[2021-11-30 21:01] alagoutte commented on #13
it is work

but we loss the idempotent for Vlans,
we have always changed=1 if you relaunch the command (without change...) when have vlan name and/or description

[2021-12-07 01:04] tchiapuziowong commented on #13
Thanks @alagoutte we're working on that now! 👏

[2021-12-09 19:27] #11 closed

[2021-12-09 19:43] tchiapuziowong commented on #10
I'm happy to announce a fix for this issue has been published and you can now pull the latest version of our Collection to verify:
`ansible-galaxy collection install arubanetworks.aoscx -f`

Also ensure you're working with the most updated version of the `ansible.netcommon` library as well:
`ansible-galaxy collection install ansible.netcommon -f`

[2022-01-21 20:43] #8 closed

[2022-01-21 20:43] #10 closed

[2022-02-07 08:07] felixblang opened #15 "state QUERY"
The Modules do not support a state called query, or something similar. Other Vendors with very similar ansible Collections, for example Cisco, support this state. With it you are able to retrieve a lot of information from the switch wich you can then use in your tasks to be able to accomplish much more complex operations with ansible. Adding this functionality would greatly help by giving the user

[2022-02-08 15:05] felixblang commented on #15
nvm

[2022-02-09 00:44] tchiapuziowong commented on #13
Hello! This should be resolved in the latest version of the AOS-CX Ansible Collection and PYAOSCX - please install the latest of each with the following commands and validate the issue is no longer seen:
`ansible-galaxy collection install arubanetworks.aoscx -f`
`python3 -m pip install --upgrade --force-reinstall pyaoscx`

[2022-02-09 14:12] alagoutte commented on #13
No longer issue with 4.0.0 for vlan ! Thanks :)

[2022-02-09 16:35] #13 closed

[2022-02-14 12:48] felixblang opened #20 "DNS List as List"
beeing able to provide a list for dns servers instead of a dict, or at least to have the ability to choose would make implementation a lot simpler and more cohesive with other manufacturers.

[2022-02-18 19:06] tchiapuziowong opened #21 "Unable to Set Active Gateway on VLAN Interface"
The following playbook fails with the following error:
`AttributeError: 'Interface' object has no attribute 'set_active_gateaway'`

[code]

A ticket has been opened internally and we are working to resolve this issue

[2022-02-23 18:55] tchiapuziowong commented on #21
fixed in https://github.com/aruba/aoscx-ansible-collection/pull/22

[2022-02-23 18:55] #21 closed

[2022-02-28 15:23] felixblang opened #23 "API Connection doesn't work after restart"
I'm using the boot_firmware module in my playbook to update my firmware. <br>
Then I wait until the switch is back online, to check if the new firmware version is running correctly. <br>
The Problem is, the API modules seem to try to use the existing socket connection from before the switch restart which leads to the task crashing with Error Code
[code]
I was able to solve a similar problem before

[2022-02-28 19:40] alagoutte commented on #23
Hi Felix,

Do you have try like on Aruba ansible workflows -> https://github.com/aruba/aoscx-ansible-workflows/blob/master/upload_firmware_boot.yml

[2022-03-01 10:34] felixblang commented on #23
SOLVED

In my Role i had ansible_connect_timeout and ansible_command_timeout set to higher values for a different task. It works at the default of 30 but not at higher values

[2022-03-01 12:23] #23 closed

[2022-05-06 18:59] tchiapuziowong opened #25 "AOS-CX Collection Doesn't Support Check Mode"
Currently the CX collection doesn't support check mode in which it reports what changes would take place in the event the playbook would be executed.

[2022-05-12 06:09] TechFixer commented on #25
Hi Tiffany...I realize that reaching out to you (here at github) isn't optimal, but I couldn't find your Aruba contact email-- great demo at ATM22 (locating Dan's water bottle) by the way. Say, regarding the modules at https://github.com/aruba/aoscx-ansible-collection/tree/master/docs. Are all of them to be used with REST API? I ask because though I know that aoscx_command & aoscx_config are to be

[2022-05-13 04:39] stella-ratnesh-nagori opened #26 "AOSCX - Ansible connection via jump host doesn't work"
Ansible version - 2.9.27 and 2.10
Python version - 3.8.10

We are writing ansible playbook to manage Aruba CX switches. However, the playbook doesn't get the output of commands when switch is connected to a jump host.

Our environment -

[Ansible Host] -> Jump Host -> Switch

The playbook times out with following error -

`"msg": "socket_path does not exist or cannot be found.\nSee the socket_path

[2022-05-16 17:46] tchiapuziowong commented on #26
Hello! I'm sorry to hear you're having difficulty - you can open the case with your SE if you want some internal support but if you'd like to troubleshoot here could you provide the following:
- sample playbook you're using (changing any sensitive info)
- sample inventory  (excluding extra vars and changing any sensitive info)

[2022-05-16 18:51] tchiapuziowong commented on #25
Hi @TechFixer -
Yes all modules **except for aoscx_command and aoscx_config** use REST API and therefore require the REST API inventory variables to be defined.

Here's [our section](https://developer.arubanetworks.com/aruba-aoscx/docs/using-the-aos-cx-ansible-collection#sshcli-modules) that discusses how to us the SSH CLI modules.

[2022-05-16 21:42] TechFixer commented on #25
A-ha...I thought so. Enormous thanks Tiffany! I've been diggin' deep with Ansible and AOS-CX v.10.08, and as an automation network engineer, I'm endeavoring to make the provisioning of 100s of 6400m switches more effecient beyond the method of purely CLI copy and paste. Believe or not, some of my cohorts still opt for that method.

Stay Healthy!

~Tony

________________________________
From: tchia

[2022-05-17 00:18] stella-ratnesh-nagori commented on #26
Hello . We tried the playbook mentioned in your official guide - https://developer.arubanetworks.com/aruba-aoscx/docs/using-the-aos-cx-ansible-collection#using-both-rest-api-and-sshcli-modules-on-a-host. Just change the ip address, username and password. Rest was exactly the same.

**inventory**

[code]

**playbook**

[code]

[2022-05-20 11:36] estebanmilaho opened #27 "aoscx_facts - timeout issue"
Ansible 2.12.5
Python 3.7.12

I'm trying to get information on the 'admin_state' for each interface of an Aruba Switch with the `aoscx_facts` module. Every time i run my playbook i get a timeout error:

[code]

This is the playbook that produces that error for me:
[code]
Requesting the information i need directly via the API also works for me with the following request URL:
[https://<<my_switch>>/

[2022-05-20 20:23] tchiapuziowong commented on #27
Can you share the firmware version and the switch model so I can try and reproduce this issue?

[2022-05-23 06:36] estebanmilaho commented on #27
The firmware version is **FL.10.09.0010**.
The Model is a **6300M 48SR5 CL6 PoE 4SFP56 Swch**.

[2022-05-23 20:43] tchiapuziowong commented on #26
Do you have a proxy environment variable set? Like "http_proxy" or "https_proxy"? If so is that needed to reach the switch? If not can you try running the playbook again without those variables being set?

[2022-05-23 20:46] tchiapuziowong commented on #26
Also can you ensure that `gather_facts: False` and you include the collection like so:

`
- hosts: all
  gather_facts: False
  collections:
    - arubanetworks.aoscx
  tasks:
    - name: Execute show vlan on the switch
      aoscx_command:
        commands: ['show vlan']
`

[2022-05-23 21:06] tchiapuziowong commented on #27
Hello - I've attempted to reproduce the issue in my set up and didn't run into any issues, here are my environment details:
[code]

I would recommend updating python and the python libraries required by the collection. Please ensure your **ansible_connection** is set to `arubanetworks.aoscx.aoscx` since this module is using REST API. If you're still encountering the error please work with your SE

[2022-05-23 22:44] ratneshnagori commented on #26
Hi. We dont have any proxy env variable. Switches are reachable with ssh with and without the jump host.

[2022-05-23 22:46] ratneshnagori commented on #26
We have tested this way as well but it made no difference.

Is it possible for Aruba dev team to try running the playbook with jump host in place?

[2022-05-24 06:36] estebanmilaho commented on #27
I've updated my libraries and python. My **ansible_connection** was set to `httpapi`. If i set it to `arubanetworks.aoscx.aoscx` none of the above playbooks works not even the one that worked before. The error then is:

[code]

[2022-05-24 21:25] tchiapuziowong commented on #27
Can you run the following command and see if that changes the result?
`python3 -m pip install --upgrade --force-reinstall git+https://github.com/aruba/pyaoscx.git`

[2022-05-24 21:30] tchiapuziowong commented on #26
Is the jump host a CX switch? You stated you're able to run the following playbook on the Jump Host and it's successful?
[code]

Can you reach out to your SE and see if they're able to assist you in troubleshooting the environment?

[2022-05-25 05:30] Jesse-Lee-Hughes commented on #25
Any update on when / if this feature will be implemented?

[2022-05-25 06:10] estebanmilaho commented on #27
Unfortunately still the same error.

[2022-07-19 19:15] seunay0 opened #28 "aoscx_upload_firmware - RESPONSE ERROR: Invalid URL"
Hi,
we are trying to update the firmware by uploading the file from local with the following playbook:
[code]
but we are getting the following error:
[code]
Versions info:
ansible [core 2.12.6]
  python version = 3.8.10 (default, Mar 15 2022, 12:22:08) [GCC 9.4.0]
  jinja version = 2.10.1
  libyaml = True

arubanetworks.aoscx_role, 4.0.0

Basically, just the example reported here https://github.co

[2022-07-21 21:57] tchiapuziowong commented on #28
Thank you for bringing this to our attention! We're looking into this issue at the moment and will provide an update on this issue-

[2022-07-25 12:55] DonRhodes commented on #27
I am seeing a similar issue where the "ansible_net_interfaces" section of the facts is coming in mostly blank, other sections of the facts appear to be OKAY.

`$ ansible --version
ansible 2.9.6
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/zadmin/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3

[2022-07-25 18:50] tchiapuziowong commented on #27
Hi @DonRhodes & @estebanmilaho -

I've repeated the same playbook and received the desired information through the following playbook and environment, please validate each package/collection/ansible version reflects similar to below:

[2022-07-28 20:19] DonRhodes commented on #27
I think there are multiple things happening here.

Using:
[code]

[2022-07-29 17:05] tchiapuziowong commented on #27
Ah okay I see it now - I'll forward this to the dev team and we'll look into it - thank you for working me with to figure out the issue! @DonRhodes

[2022-07-29 17:25] DonRhodes commented on #27
Glad to help!

[2022-08-04 21:47] seunay0 opened #29 "aoscx_l2_interface - vlan_trunks - LOGIN ERROR, FAIL: Login failed with status code 401: Login failed."
Hi,
we are trying to use a variable to pass the list of VLANs to be added to a trunk interface

[code]

but we're getting the following error:
`The full traceback is:
Traceback (most recent call last):
  File "/home/.ansible/tmp/ansible-local-1851wq30pj1z/ansible-tmp-1659648884.836821-1867-79808499410925/AnsiballZ_aoscx_l2_interface.py", line 107, in <module>
    _ansiballz_main()
  File "/home/.a

[2022-08-04 22:11] tchiapuziowong commented on #29
Do you receive this error with any other module? Also can you provide the python pyaoscx version and ansible aoscx collection version you're using?

[2022-08-05 14:41] seunay0 commented on #29
Hi, what's the command to find the version of both the ansible aoscx and python pyaoscx? I'm not finding any command to use, thanks
here's the result from the collection list command for aoscx version: `arubanetworks.aoscx      4.0.3`

No, i've not tried it with any other module

[2022-08-05 16:04] tchiapuziowong commented on #29
Execute the following commands to see the current versions you're using:
`pip3 list`
`ansible-galaxy collection list`

Since you're receiving a Login error - can you validate if the credentials you're including in your inventory are correct and you're able to successfully login? Here's a guide on our Developer Hub that describes how to get started and validate this information - https://developer.

[2022-08-05 16:15] tchiapuziowong commented on #29
Please upgrade to the most recent versions of the packages by using the following commands:
`python3 -m pip install pyaoscx -U`
`ansible-galaxy collection install arubanetworks.aoscx --upgrade`

[2022-08-11 18:46] seunay0 commented on #29
Hi, i have upgraded both to the most recent versions.
`pyaoscx                2.3.0` `arubanetworks.aoscx      4.1.0`
I am still getting the same error

[code]

[2022-08-11 18:57] tchiapuziowong commented on #29
Did you validate the credentials in your inventory are accurate? Can you please verify you're able to successfully login with those credentials using this cURL command, replace IP, USER, PW with the values of your inventory, you should get a 200 Response - if not then you have the incorrect credentials:
curl -i -k -X POST "https://IP/rest/v10.04/login?username=USER&password=PW" -H "accept: /" -d "

[2022-08-11 19:43] seunay0 commented on #29
yes, the credentials are accurate. I tested other tasks in the playbook with the same credentials.

as requested, see the result of the curl command:
[code]

[2022-08-11 21:10] tchiapuziowong commented on #29
@seunay0 Can you provide the switch model and firmware you're using?

[2022-08-11 21:13] tchiapuziowong commented on #29
@seunay0 if you don't use a variable with the module do you still receive the error or is it only when you use a variable?

[2022-08-15 19:28] seunay0 commented on #29
switch model:
Vendor: Aruba
Product Name: R8N89A 6000 12G CL4 2SFP 139W Switch
ArubaOS-CX Version: PL.10.10.0002

when i use another variable to pass the VLANs (in a list), I don't have any issues

i.e
[code]
[code]

[2022-08-16 22:24] tchiapuziowong commented on #29
I wasn't able to reproduce this in my environment - this was the playbook I used:
[code]

I would recommend adding a debug statement to see what values your variables have at the time of execution.

[2022-08-17 11:26] rhizoet opened #33 "aoscx_checkpoint: GENERIC OPERATION ERROR: 404 Not Found: Code: 404"
When I want to create a checkpoint, I get the following error:
`pyaoscx.exceptions.generic_op_error.GenericOperationError: 'GENERIC OPERATION ERROR: 404 Not Found: Code: 404'`

A few months ago this worked without problems.

In the playbook I try to run the following:

[code]

I'm using the latest collection and pyaoscx.

[2022-08-17 15:43] tchiapuziowong commented on #33
Hi @rhizoet can you share which switch model/platform and firmware you're using?

[2022-08-17 20:22] DonRhodes commented on #27
To make this a big stranger, I noticed that a 6100 running the same code version does not have this issue.

[code]

[2022-08-17 20:24] seunay0 commented on #29
I had commented out the debug statement I had initially cause it was not working even with the alternate variable I created. I just ran your code and it worked fine, and I did a comparison between your code and mine, it was the same with the exception that I had the task to create the VLANs commented out, and yours wasn't.

I ran the playbook again with that task uncommented, and it worked fine. (

[2022-08-17 21:08] #29 closed

[2022-08-19 08:17] rhizoet commented on #33
Hi @tchiapuziowong ,

sorry for the late reply. The model/platform: HPE Aruba JL479A 8320 and the firmware: TL.10.08.1050

[2022-08-22 10:02] pmeffre commented on #26
I have  the same issue.
I use a jump host for accessing my  CX6300 (virtual) mgmt port. (configured in my .ssh/config file)
When I configure the `ansible_connection: ansible.netcommon.network_cli` and using `ansible.netcommon.cli_command:` all works fine.
When I configure the `ansible_connection: network_cli` and using `arubanetworks.aoscx.aoscx_command:`, I get `: FAILED! => {"changed": false, "m

[2022-09-01 14:36] Bernhardvleen opened #36 "no modules for STP, POE or NTP"
Hi,
the above mentioned modules are the ones that I use for 2540 switch from your collection aos-switch-ansible. I was hoping that I can more or less do the same with this collection. is there a reason why these modules are not exisiting (yet)?

Spanning Tree (with the protection features like BPDU and Loop Guard) (the module for aos-switch is [arubaoss_stp.py])

in general, do you still add modul

[2022-09-01 17:26] alagoutte commented on #36
hi @Bernhardvleen,

i think, coming from not yet supported on pyaoscx and not yet add to this ansible collection ;)
and not yet people ask this ! (expect you !)

you confirm @tchiapuziowong @derekwangHPEAruba

[2022-09-01 17:30] tchiapuziowong commented on #36
The AOS-CX collection is continually being developed and currently we're working on developing the module for PoE. Thank you for informing us which features are a priority for you - STP and NTP are in the backlog for development and we'll publish release notes as well as an announcement on our Developer Community[Developer Community](https://community.arubanetworks.com/community-home?CommunityKey=

[2022-09-01 17:32] tchiapuziowong commented on #33
This appears to be a bug and we're working internally to resolve - will update issue when fix has been pushed

[2022-09-02 10:02] Bernhardvleen commented on #36
good to know that there is stuff yet to come! - priority wise I would have STP over NTP _(please make sure that all available protection options are implemented if possible (i.e. loop-guard, bpdu-guard and bpdu-filter) in my opinion loop-guard is the most important one and it is unfortunately missing from aos-switch collection)_

[2022-09-06 11:19] Zapfmeister opened #37 "Method not found errors"
Hi,

im frequently getting "Method not found" errors and cant figure out where the issue lies.
It would be great if you could help me out.

Tried on Aruba 6000 and 6100 devices.
Firmware 10_10_1000.

inventory.yml
[code]

main.yml
[code]

Output / Error
[code]

[2022-09-07 14:17] alagoutte commented on #37
You don't forget to install requirements ?

[2022-09-07 16:47] Zapfmeister commented on #37
Im not sure.
pip3 install -r requirements.txt
[code]

pip3 install ansible-pylibssh
[code]

But i guess the requirements from the requirements.txt should be sufficient, shouldnt they?
Does it work for you if you "only" install the requirements files?

[2022-09-07 16:50] tchiapuziowong commented on #37
@Zapfmeister try removing this line from your playbook `ansible_python_interpreter: /usr/bin/python3`

[2022-09-07 16:52] tchiapuziowong commented on #37
You should still be able to but to be sure try getting `ansible-pylibssh` **and it's dependencies** to install successfully-

[2022-09-07 16:57] Zapfmeister commented on #37
pip install \
    --extra-index-url=https://ansible.github.io/pylibssh/simple/ \
    --pre \
    ansible-pylibssh
[code]

For libssh, i dont get how to install it on Mac.
I used `git clone https://git.libssh.org/projects/libssh.git libssh` in the same folder as i got the ansible playbooks, but the pip install command from above does still fail.
Any hints are welcome.

[2022-09-07 16:59] tchiapuziowong commented on #37
Does removing the variable `ansible_python_interpreter` result in the same error?

[2022-09-07 17:10] Zapfmeister commented on #37
Im not 100% sure what happened, but now it seems to be working.
The errors appear when using `ansible_connection: network_cli` only. When using `ansible_connection: arubanetworks.aoscx.aoscx` it seems to be working now.
Maybe i fixed it with updating some of the requirements, im not sure.
Thanks a lot for your help!

[2022-09-07 17:10] #37 closed

[2022-09-07 19:04] tchiapuziowong commented on #37
One thing you can try is installing the `netcommon` collection requirements here: https://github.com/ansible-collections/ansible.netcommon/blob/main/requirements.txt

Here's a command to do it inline-
`python3 -m pip install -r https://raw.githubusercontent.com/ansible-collections/ansible.netcommon/main/requirements.txt`

If that works we'll update our requirements to include those packages as wel

[2022-09-07 19:58] urskog84 commented on #28
Hi @tchiapuziowong and @seunay0

I am experiencing the same problem as @seunay0

ful stacktrace with -vvv flag.

[code]

[2022-09-07 20:23] tchiapuziowong commented on #28
Thank you @urskog84 we're currently looking into a solution and will update this issue once a fix has been pushed 👍

[2022-09-08 14:32] Zapfmeister commented on #37
This produces the following output:
[code]

[2022-09-08 16:37] tchiapuziowong commented on #37
looks like you're missing the required libssh library - if you're using mac you may need to install with `brew` - I would recommend looking into installing the libssh package and then trying again.

Also here are the requirements for the `ansible-pylibssh` library - you can use the commands I provided before to install straight from this file:
https://github.com/ansible/pylibssh/blob/devel/require

[2022-09-09 02:24] wazoo opened #38 "Interface MTU"
I can't seem to figure out how to set interface MTU with this collection, is that missing?

If so, is that because its missing from pyaoscx as well?  I want to open a feature request in the right place so if that is the right place I will do that otherwise please consider this a feature request here.

[2022-09-09 16:18] tchiapuziowong commented on #38
Hi @wazoo that's correct it seems this option is missing from the `aoscx_interface` module - I'll open this with our development team and update this issue with a status on planned development/publishing - thank you for bringing this to our attention!

[2022-09-09 20:09] Zapfmeister commented on #37
I dont really get why ansible-pylibssh doesnt seem to find libssh, it is installed, as you can see below. Or do i miss something?

[code]

[code]

[code]

[2022-09-10 00:33] wazoo commented on #38
Well I am glad I didn't just miss it!  That would be awesome, i'll keep an eye out.  I also noticed that LAG settings are missing as well unless I missed those, I can open another issue if you don't want to lump them together in this ticket.

[2022-09-12 16:10] tchiapuziowong commented on #38
We're currently working on development of a lag interface module so we'll be providing announcements once that is complete 👍

[2022-09-22 16:53] ppetit opened #39 "Using arubanetworks.aoscx.aoscx_connection type makes any play to throw an exception at startup"
Hi there!

Unfortunately, aoscx-ansible-collection doesn't work for me when using _arubanetworks.aoscx.aoscx_ connection type.
It does work when using network_cli connection type though.

Simple playbook:
[code]

But really it doesn't matter what you have in the playbook.
The simple fact of declaring ansible_connection: arubanetworks.aoscx.aoscx makes any play to throw an exception at startup like

[2022-09-22 18:34] tchiapuziowong commented on #39
@ppetit can you remove the variable `ansible_python_interpreter` from your playbook? Also I'm assuming you have an [inventory file](https://developer.arubanetworks.com/aruba-aoscx/docs/using-the-aos-cx-ansible-collection#inventory-setup) that defines your host information?

[2022-09-23 07:53] ppetit commented on #39
@tchiapuziowong Removed ansible_python_interpreter  but it changes nothing and yes I have a valid inventory which works fine with network_cli BTW.

[2022-09-23 16:39] tchiapuziowong commented on #39
Is it the same above playbook with `aoscx_backup_config` that works or one using **aoscx_config** or **aoscx_command**? Can you execute `which python` and share the results?

[2022-09-26 08:08] ppetit commented on #39
@tchiapuziowong one using aoscx_command does work

[code]

Those based on Rest API modules like below do not work.

[code]
[code]

[2022-09-29 20:10] jimdavis66 commented on #39
I am experiencing this exact same issue. network_cli is still working, but I get the same traceback and error when using ansible_connection: arubanetworks.aoscx.aoscx

[2022-09-29 20:12] tchiapuziowong commented on #39
@jimdavis66 Are you using the same Ansible & Python version? Can you share how you installed Ansible?

[2022-09-29 20:28] tchiapuziowong commented on #39
@jimdavis66 Can you also share your operating system?

[2022-09-29 20:33] jimdavis66 commented on #39
/usr/bin/python3 -V
Python 3.10.6

ansible --version
ansible [core 2.13.4]
  config file = /home/ubuntu/arubaosx/ansible.cfg
  configured module search path = ['/home/ubuntu/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3/dist-packages/ansible
  ansible collection location = /home/ubuntu/.ansible/collections:/usr/share/ansible/co

[2022-09-30 15:06] tchiapuziowong commented on #39
Thank you both for bringing this to our attention! We're investigating the issue internally and we'll update this issue with any findings/commits with fixes - thank you for your patience!

For others running into this issue - if you could provide versioning/env details that may help us in investigating

[2022-10-02 18:18] urskog84 commented on #28
@tchiapuziowong. any progress?

[2022-10-03 06:18] Harsbo commented on #39
ubuntu 20.04 with ansible installed through pip3.

ansible [core 2.13.4]
python version = 3.8.10
arubanetworks.aoscx 4.1.0

[2022-10-04 16:39] tchiapuziowong commented on #28
Hi @urskog84 - Our dev team is still working on a fix - I'll update this issue when we've published the commit

[2022-10-10 16:25] gabhishek627 opened #41 "Collections AOSCX - SSH Module send two SSH requests per task"
Issue while using the Certified collection "arubanetworks-aoscx" with the module "aoscx_command" and "aoscx_config"

[2022-10-10 16:28] tchiapuziowong commented on #41
Hi @gabhishek627 Can you provide more information on what you're experiencing? Are you stating that commands are sent twice or is it a login? Can you also share your environment info and version of collection?

[2022-10-13 09:03] KevGue commented on #39
Updated all my packages, collections, roles today and am also experience this issue with the REST API (SSH works).

Versions:
  OS: Ubuntu 22.04.1 LTS
  Ansible: 2.13.5rc1
  Python: 3.10.6
  ArubaOSCX Collection: 4.1.0

[2022-10-13 16:18] borgermeister commented on #39
Also experiencing the same. Here are the steps to reproduce.

[code]

Variable file with connection info:
[code]

Ansible version
[code]

PIP version
[code]

Ansible configuration file
[code]

[2022-10-13 16:31] tchiapuziowong commented on #39
Thank you all for assisting us in investigating this issue! We're developing a fix and will be pushing an update soon after completing testing! Thank you for your patience and we'll be updating this issue once the fix has been published 👍

[2022-10-14 09:38] brunoteillet commented on #41
Hello,
To give you more details about this issue :
 - Two SSH connection request are being sent to the devices for the modules "aoscx_command" and "aoscx_config" in the  collection "arubanetworks.aoscx" instead of one.

Version of collection tested :
- 4.1.0 community (Ansible-galaxy)
- 4.0.3 community (Ansible-galaxy)
- 3.1.0 certified redhat

How to reproduce :
- You can easily reproduce this is

[2022-10-24 22:48] tchiapuziowong commented on #39
We've officially published the release of v4.1.1 of the AOS-CX Ansible collection, the fix for this issue as well as others were a part of the release so please install the latest version of the collection and our Python SDK using the commands below:
`ansible-galaxy collection install arubanetworks.aoscx -f`
` pip3 install pyaoscx --upgrade`

Please let us know if you discover any further issues o

[2022-10-24 22:48] tchiapuziowong commented on #33
Hey @rhizoet great news!
We've officially published the release of v4.1.1 of the AOS-CX Ansible collection, the fix for this issue as well as others were a part of the release so please install the latest version of the collection and our Python SDK using the commands below:
`ansible-galaxy collection install arubanetworks.aoscx -f`
` pip3 install pyaoscx --upgrade`

Please let us know if you disc

[2022-10-24 22:49] tchiapuziowong commented on #27
Hello All!
We've officially published the release of v4.1.1 of the AOS-CX Ansible collection, the fix for this issue as well as others were a part of the release so please install the latest version of the collection and our Python SDK using the commands below:
`ansible-galaxy collection install arubanetworks.aoscx -f`
` pip3 install pyaoscx --upgrade`

Please let us know if you discover any furth

[2022-10-24 23:51] jimdavis66 commented on #39
Thank you @tchiapuziowong. It is working perfectly for me now.

[2022-10-25 06:48] KevGue commented on #39
Thanks for the update @tchiapuziowong, but now I get the following error on every task in my playbook:

[code]

In my playbook I am targeting a group, but I also tried targeting a specific host.

Here is an excerpt of the inventory:

[code]

And the beginning my playbook looks like this:

[code]

[2022-10-25 14:06] rhizoet commented on #33
Hey @tchiapuziowong thanks for your reply.
I've tested the new release and it works as expected. The checkpoint is created again without error messages.

Only the check mode is missing and I am happy ;-)

Thanks a lot for the great work.

[2022-10-25 14:51] DonRhodes commented on #39
I too am receiving the `[WARNING]: The "arubanetworks.aoscx.aoscx" connection plugin has an improperly configured remote target value, forcing "inventory_hostname" templated value
instead of the string` message.

Ubuntu 22.04.1 LTS  (WSL2)
ansible [core 2.13.5rc1]
Python 3.10.6

Not sure if it is due to having multiple collections installed after the upgrade?
[code]

[2022-10-25 19:33] tchiapuziowong commented on #39
@KevGue and @DonRhodes please remove any previous versions of the collection and install the latest - you can use this command to install the latest version but you may have to remove the previous version manually:
`ansible-galaxy collection install arubanetworks.aoscx -f`

[2022-10-25 19:34] DonRhodes commented on #39
Will do.  I was wondering if that was a possible cause of this.

[2022-10-25 20:10] DonRhodes commented on #39
No luck so far, still getting the error and it is replacing the inventory name with 'inventory_hostname'.

My Ubuntu 20.04.5 LTS box is giving different errors:  `ansible.module_utils.connection.ConnectionError: Unable to decode JSON from response to get_session(). Received 'None'.`

Still looking in to the issue on my end.

[2022-10-25 20:18] KevGue commented on #39
@tchiapuziowong The issue sadly persists.

[2022-10-25 22:57] tchiapuziowong commented on #39
Okay we're looking into it thank you!

[2022-10-28 14:21] sebastiaanvduijn opened #43 "CLI command time out error"
Getting an error on instantON Accesspoints (IAP 305 and 205) while executing the following task:

    - name: Execute show run on the Accesspoint
      arubanetworks.aoscx.aoscx_command:
        commands:
          - show run no-encrypt
      register: output

The following error message is thrown:

command timeout triggered, timeout value is 30 secs. I'm only getting this error message on some of

[2022-11-01 19:59] alagoutte commented on #43
Hi @sebastiaanvduijn

This module is only for Aruba CX switch not for IAP or InstantON...

[2022-11-04 10:56] waaalex opened #44 "aoscx_backup_config : ansible.module_utils.connection.ConnectionError: Method not found"
Hello,
Error while using aoscx_backup_config on aruba6000 switch (AOS 10_08)

inventory :
[code]

backup task :
[code]

I launch :
`ansible-playbook -i inventory.yaml backup.yaml -vvv`

Output :
[code]

Can you help me?
Thanks.

[2022-11-07 18:12] tchiapuziowong commented on #44
Hi @waaalex ! Use this as your inventory - you'll want to specify the connection method to be arubanetworks.aoscx.aoscx and NOT httpapi OR network_cli:
[code]

Also please ensure you have the Python requirements properly installed with the following command:
```python3 -m pip install -r https://raw.githubusercontent.com/aruba/aoscx-ansible-collection/master/requirements.txt​```

[2022-11-08 08:23] waaalex commented on #44
Hi @tchiapuziowong
That's it ! It works. Thank you very much.

[2022-11-08 08:23] #44 closed

[2022-11-08 14:14] sebastiaanvduijn commented on #43
I've the same issue with some switches, the command keeps failing with a time out message.

[2022-11-08 19:23] tchiapuziowong commented on #43
@sebastiaanvduijn can you provide the switch model and firmware version? As well as an example playbook? I don't believe the command provided in the original post is a valid CX command?

[2022-11-29 20:16] #33 closed

[2022-11-29 20:17] #27 closed

[2022-11-30 11:31] KevGue commented on #39
@tchiapuziowong Are there any news on this issue?